<!DOCTYPE html>
<html>
<head>
    <title>Reset Password</title>
</head>
<body>
    <div style="text-align: center; font-family: Arial, sans-serif; color: #333;">
        <h1 style="color: #008080;">Reset Password</h1>
        <p style="font-size: 16px; margin: 20px 0;">Click here to reset your password:</p>
        <!-- Button Start -->
        <a href="{{ link }}" style="display: inline-block; background-color: #008080; color: #ffffff; padding: 10px 20px; text-decoration: none; border-radius: 5px; font-size: 18px;">Reset Password</a>
        <!-- Button End -->
        <p style="font-size: 14px; margin: 30px 0; color: #008080;">Don't share this email to protect your account!</p>
    </div>
</body>
</html>